/* Sidebar  */
.sidebar {
  background: #2e5e84;
  color: white;
  width: 300px;
  padding: 2rem 1.5rem;
  height: 100vh;
  position: fixed;
  display: flex;
  flex-direction: column;
}

.logo {
  width: 70px;
  margin-bottom: 7rem;
  align-self: center;
}

.nav {
  flex-grow: 1;
  /* Permet au menu de prendre tout l'espace disponible */
}

.nav h3 {
  font-size: 1.2rem;
  margin-bottom: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding-bottom: 0.5rem;
  border-bottom: none;
  padding-bottom: 0;
}


.nav ul {
  list-style: none;

}

.nav li {
  position: relative;
  margin: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  padding: 0.8rem 0;
}



.nav li a {
  white-space: nowrap;
  /* Empêche le retour à la ligne */
  overflow: hidden;
  /* Cache le débordement si nécessaire */
  text-overflow: ellipsis;
  /* Ajoute "..." si le texte est trop long */
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 10px 15px;
  color: white;
  text-decoration: none;
  transition: background-color 0.2s;
  font-size: 1rem;
  min-width: 0;
  /* Permet au texte de rétrécir si nécessaire */
}

.nav li a:hover {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 6px;
}

.nav li i {
  font-size: 1.2rem;
  width: 28px;
  height: 28px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

/* Bouton de déconnexion */
.logout-container {
  margin-top: auto;
  padding-top: 1rem;


}

.logout {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 15px;
  width: 100%;
  font-size: 1.1rem;
  color: white;
  text-decoration: none;
  transition: background-color 0.2s;
  border-radius: 6px;
}

.logout:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.logout i {
  font-size: 1.2rem;
}

