/* Sidebar */
.sidebar {
    background: #2e5e84;
    color: white;
    width: 300px;
    padding: 2rem 1.5rem;
    height: 100vh;
    position: fixed;
    display: flex;
    flex-direction: column;
}

.logo {
    width: 70px;
    margin-bottom: 2rem;
    align-self: center;
}

/* Menu navigation */
.nav {
    flex-grow: 1;
}

.nav h3 {
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.nav ul {
    list-style: none;
}

.nav li {
    margin: 0;
    padding: 0.8rem 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.nav li a {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 10px 15px;
    color: white;
    text-decoration: none;
    transition: background-color 0.2s;
    font-size: 1rem;
    min-width: 0;
}

.nav li a:hover {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 6px;
}

.nav li i {
    font-size: 1.2rem;
    width: 28px;
    height: 28px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

/* Logout button */
.logout-container {
    margin-top: auto;
    /* pushes the logout button to the bottom */
    padding-top: 1rem;
}

.logout {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 15px;
    width: 100%;
    font-size: 1.1rem;
    color: white;
    text-decoration: none;
    transition: background-color 0.2s;
    border-radius: 6px;
}

.logout:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.logout i {
    font-size: 1.2rem;
}

